.dashboard-page {
  margin: 1rem 5rem 0;
}

.new-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-todo input {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px;
}

.new-todo input:focus {
  border-color: #e1ad01;
  border-width: 2px;
}

.todos-list ul {
  color: #e1ad01;
  margin: 40px 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.todo {
  background-color: #282828;
  border-color: #03dac6;
  border-width: 10px;
  border-radius: 12px;
  padding: 15px 15px;
  max-width: 500px;
}



.todo-body {
  margin-left: 22px;
}

.todo-header {
  display: flex;
  justify-content: space-around;
}

.middle {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.middle .profile {
  display: flex;
  height: 300px;
  width: 500px;
  border-radius: 18px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #e1ad01;
  background-color: #282828;
  padding: 50px;
}

.middle .profile .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle .profile .stats h2 + h2 {
  padding-left: 80px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}