.dashboard {
  margin: 16px 10vw;
  background-color: #121212;
}

.dashboard .btn {
  color: #ffdb58;
  background-color: #121212;
  transition: 0.2s;
}

.dashboard .btn:hover {
  background-color: #ffdb58;
  color: #121212;
}

.dashboard .navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.dashboard .navbar h1 {
  color: #ffdb58;
}

.dashboard .middle {
  margin: 100px 0 40px;
  display: flex;
  align-items: center;
  height: 30vh;
  justify-content: space-between;
}

.dashboard .middle .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffdb58;
  height: 40vh;
  padding: 3vh 1px 1px;
  width: 25vw;
  border-radius: 8px;
  border-color: rgba(255, 218, 88, 0.3);
  border-style: solid;
  border-width: 1px;
}

.dashboard .middle .profile .stats {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1.5vh;
  margin-bottom: 40px;

}
.dashboard .new-todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffdb58;
  height: 40vh;
  padding: 3vh 0 0;
  width: 25vw;
  border-radius: 8px;
  border-color: rgba(255, 218, 88, 0.3);
  border-style: solid;
  border-width: 1px;
}

.dashboard .new-todo input{
  width: 18vw;
  border-radius: 8px;
  border-color: #121212;
  border-width: 1px;
  height: 2rem;
}

.dashboard .new-todo input:focus{
  border-color: #ffdb58;
}
.dashboard .new-todo textarea{
  width: 18vw;
  border-radius: 8px;
  height: 6rem;
  resize: none;
}

.dashboard .new-todo textarea:focus{
  border-color: #ffdb58;
}

.dashboard .new-todo .btn {
  margin-bottom: 8px;
}

.dashboard .todos-list ul{
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.dashboard .todo {
  color: #ffdb58;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px 10px;
  border-radius: 8px;
  border-color: rgba(255, 218, 88, 0.3);
  border-style: solid;
  border-width: 1px;
  max-width: 325px;
  height: 260px;
}

.dashboard .todo .action-buttons {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

.dashboard .todo .todo-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.dashboard .todo .todo-header .title {
  display: flex;
}

.dashboard .todo .todo-header .difficulty {
  display: flex;
}

.dashboard .todo .todo-body {
  padding-top: 10px;
}

.dashboard .todo .todo-body p{
  word-wrap: break-word;
}
