.login-page {
  background-color: #fff;
}

.login-page .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.login-page .grid-item img {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
}

.login-page .grid-register{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  
}

.login-page .navbar{
  background-color: #00031e;
}

.login-page .navbar .items {
  display: flex;
  justify-content: space-between;
}

.login-page .btn {
  color: #fff;
}

.login-page .register {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 450px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 30px 10px;
}

.login-page .register-input {
  background-color: #fff;
  width: 80%;
}

.login-page .grid {
  margin: 4vh 10vw;
}

.login-page .grid-item {
  text-align: center;
}

.login-page .register .register-button {
  background-color: #fff;
}