.login-page {
  background-color: #fff;
}

.login-page .title{
  font-family: 'Chelsea Market', cursive;
}

.login-page .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.login-page .grid-item img {
  display: block;
  max-width: 280px;
  max-height: 280px;
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
}

.login-page .grid-register{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}

.login-page .grid-register span {
  padding-bottom: 10px;
}

.login-page .navbar{
  background-color: #00031e;
}

.login-page .navbar .items {
  display: flex;
  justify-content: space-between;
}

.login-page .btn {
  color: #fff;
}

.login-page .register {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 30px 10px;
}

.login-page .register-input {
  background-color: #fff;
  width: 80%;
}

.login-page .grid {
  margin: 4vh 10vw;
}

.login-page .grid-item {
  text-align: center;
  height: 550px;
}

.login-page .register .register-button {
  background-color: #fff;
}

.login-page .top-users {
  margin-top: 100px;
}

.login-page .left-grid {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.login-page .left-grid .description {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Lusitana', serif;
  font-size: 20px;
  padding-bottom: 25px;

}